<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.CategoryInfoMapper">
    <resultMap id="CategoryInfoMap" type="com.qf.dto.CategoryInfoDto">
        <id column="categoryId" property="categoryId"></id>
        <result column="categoryName" property="categoryName"></result>
        <result column="categoryPoto" property="categoryPoto"></result>
        <result column="categoryLogo" property="categoryLogo"></result>
        <result column="parentId" property="parentId"></result>
        <result column="flag" property="flag"></result>
        <collection property="childCategoryInfo" ofType="com.qf.dto.CategoryInfoDto" >
            <id column="cid" property="categoryId"></id>
            <result column="cname" property="categoryName"></result>
            <result column="cpoto" property="categoryPoto"></result>
            <result column="clogo" property="categoryLogo"></result>
            <result column="pid" property="parentId"></result>
            <result column="flag" property="flag"></result>
        </collection>
    </resultMap>
      <select id="getCategoryInfo" resultMap="CategoryInfoMap" parameterType="com.qf.dto.CategoryInfoDto">
SELECT
	c1.*, c2.categoryId cid,
	c2.categoryName cname,
	c2.categoryPoto cpoto,
	c2.categoryLogo clogo,
	c2.parentId pid
FROM
	category c1,
	category c2
WHERE
	c1.categoryId = c2.parentId
AND c1.flag = 1
AND c2.flag = 1
<if test="categoryId !=null and categoryId!=''">
    AND c1.categoryId = #{categoryId}
</if>

      </select>

    <!--查询版块下拉导航-->
    <select id="getHeaderCategoryInfo" resultMap="CategoryInfoMap">
SELECT
	c1.categoryId,
	c1.categoryName,
	c2.categoryId cid,
	c2.categoryName cname
FROM
	category c1,
	category c2
WHERE
	c1.categoryId = c2.parentId
AND c1.flag = 1
AND c2.flag = 1
    </select>
</mapper>